<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='分类管理',active='category'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!--弹出框-->
                <!--修改-->
                <div class="modal fade" id="edit" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    类别
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">修改:</span>
                                    <input type="text"  class="form-control" >
                                    <input type="hidden" id="cid"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="save-category-btn" >保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--添加-->
                <div class="modal fade" id="insert" role="dialog" aria-labelledby="insert"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title">
                                    类别
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">添加:</span>
                                    <input type="text"  class="form-control" id="insert_name">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="insert-category-btn" >保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--弹出框-->

                <div class="row">
                    <div class="col-sm-1">
                        <h4 class="page-title">分类/标签管理</h4>
                    </div>
                    <div class="col-sm-11">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert" >添加</button>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th width="35%">类别</th>
                                <th width="35%">文章数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="category : ${categories.list}">
                                <tr th:cid="${category.id}">
                                    <td>
                                        <th:block th:text="${category.name}"/>
                                    </td>
                                    <td>
                                        <th:block th:text="${category.count}"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success edit-category" data-toggle="modal" data-target="#edit" >编辑</button>

                                        <button type="button" class="btn btn-danger del-category">删除</button>

                                    </td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>

                        <div th:replace="comm/macros :: pageAdminNav(${categories})"></div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    $("#insert-category-btn").click(function () {
        var cname = $("#insert_name").val();
        if(cname && cname != ''){
            tale.post({
                url: '/category/save',
                data: {name: cname},
                success: function (result) {
                    $("#insert_name").val('');
                    if (result && result.success) {
                        tale.alertOkAndReload('分类添加成功');
                    } else {
                        tale.alertError(result.msg || '分类添加失败');
                    }
                }
            });
        }
    });

    // 更新分类
    $('#save-category-btn').click(function () {
        var cname = $("input[type='text']").val();
        var cid = $("input[type='hidden']").val();
        if (cname && cname != '') {
            tale.post({
                url: '/category/update',
                data: {id: cid, name: cname},
                success: function (result) {
                    $("input[type='text']").val('');
                    $("input[type='hidden']").val('');
                    if (result && result.success) {
                        tale.alertOkAndReload('分类更新成功');
                    } else {
                        tale.alertError(result.msg || '分类更新失败');
                    }
                }
            });
        }
    });
    //显示编辑框
    $('.edit-category').click(function () {
       var category = $(this).parent().parent().find("td:first-child").text();
        $("input[type='text']").val($.trim(category));
        var cid = $(this).parent().parent().attr("cid");
        $("input[type='hidden']").val($.trim(cid));
    });

    // 删除分类
    $('.del-category').click(function () {
        var cid = $(this).parent().parent().attr('cid');
        tale.alertConfirm({
            title: '确定删除该项吗?',
            then: function () {
                tale.post({
                    url: '/category/delete',
                    data: {id: cid},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('删除成功');
                        } else {
                            tale.alertError(result.msg || '删除失败');
                        }
                    }
                });
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>