<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='分类管理',active='picture'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>

<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!--弹出框-->
                <!--修改-->
                <div class="modal fade" id="edit" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title">
                                    修改
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">标题:</span>
                                    <input type="text" id="update-title" class="form-control">
                                    <input type="hidden" id="update-id"/>
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">地点:</span>
                                    <input type="text" id="update-location" class="form-control">
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">介绍:</span>
                                    <textarea class="form-control" id="update-intro" style="resize:vertical"></textarea>
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">图片:</span>
                                    <input id="update-picture" name="i" multiple type="file">
                                </div>
                                <br>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="update-picture-btn">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--添加-->
                <div class="modal fade" id="insert" role="dialog" aria-labelledby="insert"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title">
                                    添加图片
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">标题:</span>
                                    <input type="text" id="input-title" class="form-control">
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">地点:</span>
                                    <input type="text" id="input-location" class="form-control">
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">介绍:</span>
                                    <textarea class="form-control" id="input-intro" style="resize:vertical"></textarea>
                                </div>
                                <br>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">图片:</span>
                                    <input id="input-picture" name="input-b9[]" multiple type="file">
                                </div>
                                <br>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="insert-picture-btn">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--弹出框-->

                <div class="row">
                    <div class="col-sm-1">
                        <h4 class="page-title">图片管理</h4>
                    </div>
                    <div class="col-sm-11">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert">添加
                        </button>
                    </div>
                    <div class="col-md-12">
                        <table id="mytable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th width="15%">标题</th>
                                <th width="10%">缩略图</th>
                                <th width="15%">拍摄地</th>
                                <th width="15%">上传时间</th>
                                <th width="30%">介绍</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="picture : ${piclist.list}">
                                <tr th:id="${picture.id}">
                                    <td>
                                        <th:block th:text="${picture.title}"/>
                                    </td>
                                    <td>
                                        <a th:href="${picture.url}" th:title="${picture.title}">
                                            <img th:src="${picture.url}" class="img-rounded" height="50" th:alt="${picture.title}">
                                        </a>

                                        <!--<img th:src="${picture.url}" class="img-rounded" height="50"-->
                                             <!--th:alt="${picture.title}">-->
                                    </td>
                                    <td>
                                        <th:block th:text="${picture.location}"/>
                                    </td>
                                    <td>
                                        <th:block th:text="${#dates.format(picture.addTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                                    </td>
                                    <td>
                                        <th:block th:text="${picture.intro}"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success edit-category" data-toggle="modal"
                                                data-target="#edit">编辑
                                        </button>

                                        <button type="button" class="btn btn-danger del-picture">删除</button>

                                    </td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>

                        <div th:replace="comm/macros :: pageAdminNav(${piclist})"></div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>

<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    // 添加图片
    $("#insert-picture-btn").click(function () {
        var data = new FormData();
        var title = $("#input-title").val();
        if (title == null || title == '') {
            tale.alertWarn("请填写标题");
            return;
        }

        var location = $("#input-location").val();
        var intro = $("#input-intro").val();

        data.append("title", title);
        data.append("location", location);
        data.append("intro", intro);
        if ($("#input-picture").val().length > 1 && $("#input-picture").val() != '') {
            data.append("picture", $("#input-picture").get(0).files[0]);//上传封面
        } else {
            tale.alertWarn('请添加封面!');
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/picture/save',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                $("#insert_name").val('');
                if (result && result.success) {
                    tale.alertOkAndReload('添加图片成功');
                } else {
                    tale.alertError(result.msg || '图片添加失败');
                }
            },
            error: function (result) {
                tale.alertError(result.msg || '图片添加失败');
            }
        })

    });


    // 更新分类
    $('#update-picture-btn').click(function () {
        var data = new FormData();
        var id = $('#update-id').val();
        var title = $('#update-title').val();
        var intro = $('#update-intro').val();
        var location = $('#update-location').val();

        if (title == null || title == '') {
            tale.alertWarn('请添加标题!');
            return;
        }

        if ($("#update-picture").val().length > 1 && $("#update-picture").val() != '') {
            data.append("picture", $("#update-picture").get(0).files[0]);//上传封面
        } else {
            tale.alertWarn('请添加封面!');
            return;
        }
        data.append("id", id);
        data.append("title", title);
        data.append("intro", intro);
        data.append("location", location);

        $.ajax({
            type: 'POST',
            url: '/picture/update',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                $("#insert_name").val('');
                if (result && result.success) {
                    tale.alertOkAndReload('更新图片成功');
                } else {
                    tale.alertError(result.msg || '图片更新失败');
                }
            },
            error: function (result) {
                tale.alertError(result.msg || '图片更新失败');
            }
        })
    });
    //显示编辑框
    $('.edit-category').click(function () {
        $("#update-title").val('');
        $("#update-intro").val('');
        $("#update-location").val('');

        var thisrow = $(this).parent().parent().children('td');
        var title = thisrow.eq(0).text();
        var location = thisrow.eq(2).text();
        var intro = thisrow.eq(4).text();

        $("#update-title").val($.trim(title));
        $("#update-intro").val($.trim(intro));
        $("#update-location").val($.trim(location));

        var id = $(this).parent().parent().attr("id");
        $("#update-id").val($.trim(id));
    });

    // 删除图片
    $('.del-picture').click(function () {
        var id = $(this).parent().parent().attr('id');
        tale.alertConfirm({
            title: '确定删除该项吗?',
            then: function () {
                tale.post({
                    url: '/picture/delete',
                    data: {id: id},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('删除成功');
                        } else {
                            tale.alertError(result.msg || '删除失败');
                        }
                    }
                });
            }
        });
    });

    $(document).on('ready', function () {
        $("#input-picture").fileinput({
            showPreview: true,
            showUpload: false,
            elErrorContainer: '#kartik-file-errors',
            allowedFileExtensions: ["jpg", "png", "gif"]
            //uploadUrl: '/site/file-upload-single'
        });
        $("#update-picture").fileinput({
            showPreview: true,
            showUpload: false,
            elErrorContainer: '#kartik-file-errors',
            allowedFileExtensions: ["jpg", "png", "gif"]
            //uploadUrl: '/site/file-upload-single'
        });
    });
    /*]]>*/
</script>
</body>
</html>